#contact-section {
  background-color: $black1a;
  .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    h3 {
      font-family: "Ubuntu", sans-serif;
      color: $greend9;
    }
    .icons {
      i {
        color: $pinkf6;
      }
    }
  }
}
