header {
  background-color: $pinkf6;
  font-family: "Azeret Mono", monospace;
  nav {
    margin: inherit;
    padding: inherit;
    width: 100%;
    ul {
      li {
        &:hover {
          cursor: pointer;
          color: $greend9;
        }
      }
    }
  }
}
