.navbar-custom {
  background-color: $pinkf6;
  .navbar-brand {
    font-size: 3rem;
    .bi-code-square {
      color: $black00;
    }
  }
  button,
  .navbar-toggler {
    background-color: $greend9;
  }
  .navbar-collapse {
    font-family: "Ubuntu", sans-serif;
  }
  a,
  .link-dark {
    &:hover {
      color: $greend9;
    }
  }
}
