.projects-section {
  font-family: "Azeret Mono", monospace;
  font-weight: 400;
  width: 100%;
  height: 144vh;
  background: $greend9;
  .container {
    .row {
      .col {
        i {
          font-size: 10em;
          cursor: pointer;
        }
      }
    }
  }
}
