#welcome-section {
  font-family: "Azeret Mono", monospace;
  color: $greend9;
  .list-unstyled {
    cursor: pointer;
    i,
    .fas fa-code {
      color: $orangefd;
    }
    .sass-icon {
      color: $pinkcf;
    }
  }
}
