#welcome-section {
  font-family: "Azeret Mono", monospace;
  color: $greend9;
  .container {
    .custom-section {
      span,
        img {
          .animated-img1 {
            position: relative;
            cursor: pointer;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
    }
    .icons {
      .list-icons {
        li i {
          cursor: pointer;
          color: $pinkf6;
          &:hover {
            transform: scale(1.1);
          }
          &:hover::before {
            transform: skewX(20deg);
            border-left: 3px solid;
            border-right: 3px solid;
          }
          &:hover::after {
            transform: skewY(-25deg);
            border-left: 3px solid;
            border-right: 3px solid;
          }
        }
      }
    }
  }
}
