#welcome-section {
  font-family: "Azeret Mono", monospace;
  background-color: $black1a;
  color: $greend9;
  .container {
    .custom-section {
      h1 {
        cursor: pointer;
      }
      span {
        cursor: pointer;
        color: $pinkf6;
      }
    }
    .icons {
      .list-icons {
        li i {
          cursor: pointer;
          color: $blue1c;
          &:hover {
            transform: scale(1.1);
          }
          &:hover::before {
            transform: skewX(20deg);
            border-left: 3px solid;
            border-right: 3px solid;
          }
          &:hover::after {
            transform: skewY(-25deg);
            border-left: 3px solid;
            border-right: 3px solid;
          }
        }
      }
    }
  }
}
