$pinkf6: #f60074;
$pinkcf: #cf649a;
$black00: #000;
$greend9: #d9eee1;
$blue1c: #1cbfff;
$grey26: #26273b;
$grey5c: #5c5d71;
$grey9a: #9a9c9e;
$black1a: #1a1a1a;
$black12: #121212;

@import "navbar";
@import "welcome-section";
@import "projects-section";
@import "contact-section";
@import "footer";
@import "responsive";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300&family=Ubuntu:wght@300&display=swap");
