$pinkf6: #f60074;
$pinkcf: #cf649a;
$black00: #000;
$greend9: #d9eee1;
$orangefd: #fd7e14;

@import "navbar";
@import "welcome-section";
@import "projects-section";
@import "contact-section";
@import "footer";
@import "responsive";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300&family=Ubuntu:wght@300&display=swap");
